<a href="https://colab.research.google.com/github/eunsol123/HTML/blob/main/Python02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 튜플 : 수정할 수 없는 리스트

tu1 = (1,2,3)
print(tu1)
print(type(tu1))

tu2 = 2,3,4
print(tu2)
print(type(tu2))

tu3 = 2,3,14, '문자'
print(tu3)
print(type(tu3))

(1, 2, 3)
<class 'tuple'>
(2, 3, 4)
<class 'tuple'>
(2, 3, 14, '문자')
<class 'tuple'>

In [3]:
t = (1,2,3,4,5)
t[0:3]

(1, 2, 3)

In [4]:
set = {1,2,3}
print(type(set))
print(set)

<class 'set'>
{1, 2, 3}

In [5]:
t[0]

1

In [8]:
me = [1,2,3]  #리스트
id(me)

140071811450912

In [11]:
me.append(4)
print(id(me))
print(me)

140071811450912
[1, 2, 3, 4, 4, 4]

In [17]:
me.append(10) #정수
print(id(me))

140071811450912

In [22]:
me = 10
me += 1
print(id(me))

94883163085632

In [19]:
me = [1,2,3]
you = me
print(id(me))
print(id(you))

140071810946304
140071810946304

In [21]:
you.append(4)
print(id(me))
print(id(you))

print(me)
print(you)

140071810946304
140071810946304
[1, 2, 3, 4, 4]
[1, 2, 3, 4, 4]

In [31]:
car1 = '서울2가1234'
car2 = '10가1234'
car3 = '288가1234'

print(car1,'의 차량번호 뒷자리는',car1[4:],'입니다.')
print(car2,'의 차량번호 뒷자리는',car2[3:],'입니다.')
print(car3,'의 차량번호 뒷자리는',car3[4:],'입니다.')

서울2가1234 의 차량번호 뒷자리는 1234 입니다.
10가1234 의 차량번호 뒷자리는 1234 입니다.
288가1234 의 차량번호 뒷자리는 1234 입니다.

In [33]:
s = 'maple'

print(s,'의 가운데 글자는',s[2],'입니다.')

maple 의 가운데 글자는 p 입니다.

In [38]:
lis = [10,20,30,40,50,60,70,80,90]

print('3번째 요소부터 7번째 요소 = ',lis[2:7])
print('3번째 요소부터 7번째 요소 중 2번째 = ',lis[2:7][1])

3번째 요소부터 7번째 요소 =  [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 =  40

In [41]:
dict = {'금요일':'탕수육','토요일':'유산슬','일요일':'팔보채'}

print('금요일:',dict['금요일'])
print('토요일:',dict['토요일'])
print('일요일:',dict['일요일'])

금요일: 탕수육
토요일: 유산슬
일요일: 팔보채

In [43]:
print('Hello\'world\'')
print("Hello\"world\"")
print('*\n**\n***')
print('이름\t연락처')
print('제시카\t02-123-4567')
print('마틴\t010-8765-1234')

Hello'world'
Hello"world"
*
**
***
이름	연락처
제시카	02-123-4567
마틴	010-8765-1234

In [51]:
print('재미있는','파이썬')
print('python','java','C',sep=',')

print()

print('영화 타이타닉')
print('평점',end=' ')
print('5점')

# fos = open('sample.py',mode='wt')
# print('print("Hello World")',file=fos)
# fos.close()

재미있는 파이썬
python,java,C

영화 타이타닉
평점 5점

In [57]:
# 인쇄 4가지 방법
# 1. 기본출력
# 2.%연산자 출력
# 3.format() 매서드
# 4.f-string(***)

# %연산자 출력
print('%d' %10)
print('%d 원 입니다.'%100)
print('%s 원 입니다.'%100)

print('원주율은 %f 입니다.'%3.14)
print('원주율은 %s 입니다.'%3.14)

10
100 원 입니다.
100 원 입니다.
원주율은 3.140000 입니다.
원주율은 3.14 입니다.

In [60]:
print('%5d' %1)
print('%5d' %12)
print('%-5d' %1)
print('%-5d' %12)

    1
   12
1
12

In [73]:
#format() 매서드

name = 'eun'
age = '21'

print('My name is {}'.format('choeunsol'))
print('My name is {} i\'m {} years old'.format('cho',22))
print('My name is' ,name,'i\'m',age,'years old')
print('My name is %s,i\'m %s years old'%('sol',20))

My name is choeunsol
My name is cho i'm 22 years old
My name is eun i'm 21 years old
My name is sol,i'm 20 years old

In [82]:
# f-string

name = 'choeunsol'
age = 22

print(f'My name is {name} i\'m {age} years old')
print(f'내년엔 {age+1} 살이 됩니다.')

My name is choeunsol i'm 22 years old
내년엔 23 살이 됩니다.